eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/ #配置eureka服务器地址, 如果有多个实例,逗号隔开
    instance:
      lease-renewal-interval-in-seconds: 10
    register-with-eureka: true

server:
  port: 8888 #配置eurekaclient的服务端口

spring:
  application:
    name: config-server #配置eurekaclient的服务名称
  cloud:
    config:
      label: master
      server:
        git:
          uri: https://github.com/souyunku/spring-cloud-config.git
          search-paths: spring-cloud-config
#          username: username
#          password: password
